<div class="container text-align-center">
<h1>Stupid Coaches</h1>
<p>What?</p>

  <form action="answer" class="form">
    <div class="search-form-control form-group">
      <input type="text" name="question" class="form-control string required">
      <button type="submit" value="Ask!" class="btn btn-flat">
        <i class="fas fa-keyboard"></i> Search
      </button>
    </div>
  </form>
</div>
